@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GabiaHeuldot";
    font-style: normal;
    font-display: swap;
    src: url(/fonts/GabiaHeuldot.otf) format("truetype");
  }

  @font-face {
    font-family: "Hakgyoansim";
    font-style: normal;
    font-display: swap;
    src: url(/fonts/HakgyoansimSamulhamOTFR.otf) format("truetype");
  }

  html,
  body {
    @apply w-[100vw] h-[100vh] overflow-x-hidden;
  }

  h1 {
    @apply font-semibold text-5xl py-2;
  }

  h2 {
    @apply font-semibold text-4xl py-2;
  }

  h3 {
    @apply font-semibold text-3xl;
  }

  h4 {
    @apply font-semibold text-2xl;
  }
  a {
    @apply cursor-pointer hover:cursor-pointer;
  }

  strong {
    @apply font-semibold;
  }

  em {
    @apply text-GRAY_DARK;
  }

  blockquote {
    @apply bg-GRAY_LIGHT py-4 px-6 my-2 rounded-md w-full dark:bg-GRAY_EXTRADARK;
  }

  ul,
  ol {
    @apply flex flex-col gap-2 py-2 ml-4 list-outside list-disc;
  }

  li ul {
    @apply pt-2;
  }
}
